@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.colgrey {
    color: #9d9d9d;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
}

.header>* {
    padding: 20px;
}

.playlists {
    padding: 16px;
}

.cardsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 35px;
    overflow-y: scroll;
    max-height: 70vh;
}

.cards {
    width: 180px;
    font-size: small;
    border-radius: 10px;
    background-color: #252525;
    position: relative;
}

.cards>* {
    padding-top: 6px;
}

.cards img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signbtn {
    background-color: #101010;
    color: #a7a7a7;
    border: none;
    outline: none;
    font-weight: 800;
}

.signbtn:hover {
    font-size: 0.9rem;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 24px;
    color: black;
    font-weight: 800;
    padding: 16px;
    width: 107px;
    cursor: pointer;
    
}

.loginbtn:hover {
    font-weight: 900;
    cursor: pointer; 
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(100, 244, 100);
    width: 100%;
    padding: 12px;
}
.songbtns{
    display: flex;
    justify-content: center;
    gap: 30px;
}